<main>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {{#if pseudo}}
          <li class="nav-item">
            <a class="nav-link active" href="/parametres/pseudo">Pseudo</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/parametres/pseudo">Pseudo</a>
          </li>
        {{/if}}
        {{#if email}}
          <li class="nav-item">
            <a class="nav-link active" href="/parametres/email">Email</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/parametres/email">Email</a>
          </li>
        {{/if}}
        {{#if mdp}}
          <li class="nav-item">
            <a class="nav-link active" href="/parametres/mdp">Mot de passe</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/parametres/mdp">Mot de passe</a>
          </li>
        {{/if}}
        {{#if desactivation}}
          <li class="nav-item">
            <a class="nav-link active" href="/parametres/desactivation">Désactivation du compte</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/parametres/desactivation">Désactivation du compte</a>
          </li>
        {{/if}}
      </ul>
    </div>
    {{#if pseudo}}
      {{> parametresPseudo user=user}}
      {{else if email}}
      {{> parametresEmail user=user}}
      {{else if mdp}}
      {{> parametresMdp}}
      {{else if desactivation}}
      {{> parametresdesactivation}}
    {{/if}}
  </div>
</main>
