<main>
  <div>
    <img src="{{banniere}}" id="banniere" class="img-fluid" alt="bannière {{banniere}}" width="100%" height="500px">
  </div>
  <nav class="navbar navbar-light bg-light">
    {{#unless modif}}
      <h2>{{pseudo}}</h2>
      <a type="button" name="button" href="/profil/modification" class="btn btn-lg btn-secondary">éditer le profil</a>
    {{else}}
      <form class="container-fluid" action="/profil/modification" enctype="multipart/form-data" method="post">
        <div>
          <input type="text" name="newPseudo" class="form-control-plaintext" placeholder="{{pseudo}}">
        </div>
        <input type="file" name="newBanniere" id="newBanniere" accept="image/*">
        <button type="submit" class="btn btn-lg btn-secondary">Enregistrer</button>
        <a type="button" name="button" href="/profil" class="btn btn-lg btn-secondary">Annuler</a>
      </form>
    {{/unless}}
  </nav>
  <nav class="nav justify-content-around">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/profil/mes_twinodes">Mes TwiNodes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profil/mes_reponses">Mes réponses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profil/aime">J'aime</a>
      </li>
    </ul>
  </nav>
  {{#if mes_twinodes}}
    {{> mesTwinodes tweets=tweets}}
  {{else if mes_reponses}}
    {{> mesReponses}}
  {{else if aime}}
    {{> aime}}
  {{/if}}
</main>
